@using System.Globalization
@using Inventory360Web.Helpers
@model Inventory360Web.Models.CommonReplacementClaim

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Inventory360Report.css" rel="stylesheet" />
    <title>IndCollection</title>
</head>
<body>
    <div>
        <br />
        <table style="width:100%; border: 1px solid black;">
            <tr style="vertical-align:top;">
                <td style="border-right: 1px solid black;width:40%">
                    <div class="companyHeader"><strong>@Model.CompanyName</strong></div>
                    <div class="addcon">@Model.CompanyAddress</div>
                    <div class="addcon">@Model.CompanyContact</div>
                </td>
                <td style="border-right: 1px solid black;width:60%">
                    <div style="text-align:center" class="companyHeader"><strong>Replacement Claim(RMA)</strong></div>
                    <div class="addcon"><strong style="text-align:center"> Replacement Claim No &nbsp;: @Model.ClaimNo</strong></div>

                    <table>
                        <tr>
                            <td>Date &nbsp;: @Model.ClaimDate.ToString("dd-MMM-yyyy HH:mm")</td>
                            <td>Status &nbsp;: @Model.Approved</td>
                        </tr>
                        <tr>
                            <td>Supplier Name &nbsp;: @Model.SupplierName</td>
                            <td>Code &nbsp;: @Model.SupplierCode</td>
                        </tr>
                        <tr>
                            <td>Address &nbsp;: @Model.SupplierAddress</td>
                            <td>Cont. &nbsp;: @Model.SupplierPhone</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <br />
        <table style="width:100%; border: 1px solid black;">
            <tr>
                <td><strong>Remarks:</strong> @Model.Remarks</td>
            </tr>
        </table>
        <br />
        <div style="text-align:center"><strong>Product Information</strong></div>
        <table class="table" style="width:100%;">
            <thead>
                <tr>
                    <th style="text-align:left;padding-left:5px;padding-right:5px;">Sl No</th>
                    <th style="text-align:right;padding-left:5px;padding-right:5px;">Product Name</th>
                    <th style="text-align:right;padding-left:5px;padding-right:5px;">Serial</th>
                    <th style="text-align:right;padding-left:5px;padding-right:5px;">Problem Detail</th>
                    <th style="text-align:right;padding-left:5px;padding-right:5px;">Remarks</th>
                    <th style="text-align:right;padding-left:5px;padding-right:5px;">Complain Receive No</th>
                    <th style="text-align:right;padding-left:5px;padding-right:5px;">Date</th>                    
                </tr>
            </thead>
            <tbody>
                @{
                    int @SlNo = 0;
                }
                @foreach (var item in Model.ReplacementClaimDetail)
                {
                    ++@SlNo;
                    <tr>
                        <td style="text-align:right;vertical-align:top;padding-left:5px;padding-right:5px;">@SlNo</td>
                        <td style="text-align:left;vertical-align:top;padding-left:5px;padding-right:5px;">
                            <label>@item.ProductName</label>
                        </td>
                        <td style="text-align:right;vertical-align:top;padding-left:5px;padding-right:5px;">
                            <label>@item.Serial</label>
                        </td>
                        <td style="text-align:left;vertical-align:top;padding-left:5px;padding-right:5px;">
                            @{int @ProblemSlNo = 0; }
                            @foreach (var Problem in item.ReplacementClaimDetail_Problem)
                            {
                                ++@ProblemSlNo;

                                <label style="text-align:right;vertical-align:top;padding-left:5px;padding-right:5px;"><label>@ProblemSlNo.</label> @Problem.ProblemName</label><br />
                            }

                        </td>
                        <td style="text-align:right;vertical-align:top;padding-left:5px;padding-right:5px;">
                            <label>@item.Remarks</label>
                        </td>
                        <td style="text-align:right;vertical-align:top;padding-left:5px;padding-right:5px;">
                            <label>@item.ReceiveNo</label>
                        </td>
                        <td style="text-align:right;vertical-align:top;padding-left:5px;padding-right:5px;">
                            <label>@item.ReceiveDate.ToString("dd-MMM-yyyy")</label>
                        </td>
                    </tr>
                 }
            </tbody>
        </table>
        <br />
        <table class="table" style="width:100%;">
            <tr>
                <td width="50%" style="text-align:center;">
                    <div>
                        <label><strong>Claim By</strong></label><br />
                        <label><strong>@Model.RequestedBy</strong></label><br />
                        <label><strong>&nbsp;</strong></label><br />
                        <label><strong>&nbsp;</strong></label><br />
                        <label><strong>----------------------</strong></label><br />
                        <label><strong>Signeture</strong></label>
                    </div>
                </td>
                <td width="50%" style="text-align:center;">
                    <div>
                        <label><strong>Received By</strong></label><br />
                        <label><strong>On Behalf of Supplier</strong></label><br />
                        <label><strong>&nbsp;</strong></label><br />
                        <label><strong>&nbsp;</strong></label><br />
                        <label><strong>----------------------</strong></label><br />
                        <label><strong>Signeture</strong></label>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
